{% extends 'BatisCrowdsourcingBundle::layout.html.twig' %}

{% block crowdsourcing_body %}

<div class="main-slider"><!-- start main-headline section -->
				<div class="slider-nav">
					<a class="slider-prev"><i class="fa fa-chevron-circle-left"></i></a>
					<a class="slider-next"><i class="fa fa-chevron-circle-right"></i></a>
				</div>
				<div id="home-slider" class="owl-carousel owl-theme">
					<div class="item-slide">
					 	{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/dummy-slide-1.jpg' %}
    					<img src= " {{ asset_url }} " alt="dummy-slide" class="img-responsive" />
						{% endimage %}
					</div>
					<div class="item-slide">
						{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/dummy-slide-2.jpg' %}
    					<img src= " {{ asset_url }} " alt="dummy-slide" class="img-responsive" />
						{% endimage %}
					</div>
				</div>
			</div><!-- end main-headline section -->

		
			<div class="headline container"><!-- start headline section -->
					<div class="row" >
						<div class="col-md-6 align-right">
							<h4>Lien fonctionnel</h4>
							<p>Login Post a job , Inscription , Connexion</p>
							<p><a href="#" class="btn btn-default btn-yellow">Découvrir les projets</a></p>
						</div>
						<div class="col-md-6 align-left">
							<h4>Ne cherchez plus , les pros sont là</h4>
							<p>root admin</p>
							<p><a href="{{ path('batis_crowdsourcing_postjob') }}" class="btn btn-default btn-light" >Lancez votre projet</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
			</div><!-- end headline section -->


		<div class="recent-job"><!-- Start Recent Job -->
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h4><i class="glyphicon glyphicon-briefcase"></i> Recent Job</h4>
						<div id="tab-container" class='tab-container'><!-- Start Tabs -->
							<ul class='etabs clearfix'>
								<li class='tab'><a href="#all">All</a></li>
								<!--<li class='tab'><a href="#contract">Contract</a></li>
								<li class='tab'><a href="#full">Full Time</a></li>
								<li class='tab'><a href="#free">Freelance</a></li>-->
							</ul>
							<div class='panel-container'>
								<div id="all"><!-- Tabs section 1 -->
								
							{% if recentJob is defined %}
								{% for job in recentJob %}
									<div class="recent-job-list-home"><!-- Tabs content -->
										<div class="job-list-logo col-md-1 ">
											{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/company-1-post.png' %}
    										<img src= " {{ asset_url }} " alt="dummy-joblist" class="img-responsive" />
											{% endimage %}
										</div>
										<div class="col-md-6 job-list-desc">
											<h6>{{ job.category.name }}</h6>
											<p><a href="{{ path('batis_crowdsourcing_jobdetail', {'id' : job.id }) }}">{{ job.title }}</a></p>
										</div>
										<div class="col-md-5 full">
											<div class="row">
												<div class="job-list-location col-md-7 ">
													<h6><i class="fa fa-map-marker"></i>{{ job.location }}</h6>
												</div>
												<div class="job-list-type col-md-5 ">
													<h6><i class="fa fa-user"></i>{{ job.type }} </h6>
												</div>
											</div>
										</div>
										<div class="clearfix"></div>
									</div>
								{% endfor %}
							{% endif %}

								
									
								</div><!-- Tabs section 1 -->
				
						 
							</div>
						</div><!-- end Tabs -->
						<div class="spacer-2"></div>
					</div>
					
					<div class="col-md-4">
						<div id="job-opening">
							<div class="job-opening-top">
								<div class="job-oppening-title">Top Job Opening</div>
								<div class="job-opening-nav">
									<a class="btn prev"></a>
									<a class="btn next"></a>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="clearfix"></div>
							<br/>
							<div id="job-opening-carousel" class="owl-carousel">
							
								<div class="item-home">
									<div class="job-opening">
										{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/dummy-job-open-1.png' %}
    									<img src= " {{ asset_url }} " alt="dummy-job-opening" class="img-responsive" />
										{% endimage %}
										
										<div class="job-opening-content">
											HR Manager
											<p>
												Place for worlds best shipping company and work with great level efficiency to break trough in new career.
											</p>
										</div>
										
										<div class="job-opening-meta clearfix">
											<div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>San Fransisco</div>
											<div class="meta-job-type meta-block"><i class="fa fa-user"></i>Full Time</div>
										</div>
									</div>
								</div>
								
								<div class="item-home">
									<div class="job-opening">
										{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/dummy-job-open-2.png' %}
    									<img src= " {{ asset_url }} " alt="dummy-job-opening" class="img-responsive" />
										{% endimage %}
										<div class="job-opening-content">
											Head Shop Manager
											<p>
												Place for worlds best shipping company and work with great level efficiency to break trough in new career.
											</p>
										</div>
										
										<div class="job-opening-meta clearfix">
											<div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>Denver</div>
											<div class="meta-job-type meta-block"><i class="fa fa-user"></i>Full Time</div>
										</div>
									</div>
								</div>
								<div class="item-home">
									<div class="job-opening">
										{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/dummy-job-open-1.png' %}
    									<img src= " {{ asset_url }} " alt="dummy-job-opening" class="img-responsive" />
										{% endimage %}
										
										<div class="job-opening-content">
											Head Shop Manager
											<p>
												Place for worlds best shipping company and work with great level efficiency to break trough in new career.
											</p>
										</div>
										
										<div class="job-opening-meta clearfix">
											<div class="meta-job-location meta-block"><i class="fa fa-map-marker"></i>San Fransisco</div>
											<div class="meta-job-type meta-block"><i class="fa fa-user"></i>Washington</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>

						<div class="post-resume-title">Post Your Resume</div>
						<div class="post-resume-container">
							<button type="button" class="post-resume-button">Upload Your Resume<i class="icon-upload grey"></i></button>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div><!-- end Recent Job -->
		<div class="job-status">
			<div class="container">
					<h1>Jobs Stats Updates</h1>
					<p>
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
					</p>

					<div class="counter clearfix">
						<div class="counter-container">
							<div class="counter-value">125</div>
							<div class="line"></div>
							<p>job posted</p>
						</div>
			
						
						<div class="counter-container">
							<div class="counter-value">50</div>
							<div class="line"></div>
							<p>possition Filled</p>
						</div>
						
						<div class="counter-container">
							<div class="counter-value">75</div>
							<div class="line"></div>
							<p>Companies</p>
						</div>
						
						<div class="counter-container">
							<div class="counter-value">85</div>
							<div class="line"></div>
							<p>Members</p>
						</div>
					</div>
				
			</div>
		</div>
		<div class="step-to">
			<div class="container">
				<h1>Easiest Way To Use</h1>
				<p>
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo
				</p>
	
				<div class="step-spacer"></div>
				<div id="step-image">
					<div class="step-by-container">
						<div class="step-by">
							First Step
							<div class="step-by-inner">
								<div class="step-by-inner-img">
									{% image '@BatisCrowdsourcingBundle/Resources/public/images/step-icon-1.png' %}
    								<img src= " {{ asset_url }} " alt="step" class="img-responsive" />
									{% endimage %}
								</div>
							</div>
							<h5>Register with us</h5>
						</div>
								
						<div class="step-by">
							Second Step
							<div class="step-by-inner">
								<div class="step-by-inner-img">
									{% image '@BatisCrowdsourcingBundle/Resources/public/images/step-icon-2.png' %}
    								<img src= " {{ asset_url }} " alt="step" class="img-responsive" />
									{% endimage %}
								</div>
							</div>
							<h5>Create your profile</h5>
						</div>
								
						<div class="step-by">
							Third Step
							<div class="step-by-inner">
								<div class="step-by-inner-img">
									{% image '@BatisCrowdsourcingBundle/Resources/public/images/step-icon-3.png' %}
    								<img src= " {{ asset_url }} " alt="step" class="img-responsive" />
									{% endimage %}
								</div>
							</div>
							<h5>Upload your resume</h5>
						</div>
								
						<div class="step-by">
							Now it's our turn
							<div class="step-by-inner">
								<div class="step-by-inner-img">
									{% image '@BatisCrowdsourcingBundle/Resources/public/images/step-icon-4.png' %}
    								<img src= " {{ asset_url }} " alt="step" class="img-responsive" />
									{% endimage %}
								</div>
							</div>
							<h5>Now take rest :)</h5>
						</div>
								
					</div>
				</div>
				<div class="step-spacer"></div>
			</div>
		</div>
		<div class="testimony">
			<div class="container">
				<h1>What People Say About Us</h1>
				<p>
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas mo
				</p>
					
			</div>
			<div id="sync2" class="owl-carousel">
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-1.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-2.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
					
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-3.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-4.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-5.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-6.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-7.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-8.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-9.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				<div class="testimony-image">
					{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/testimony-image-10.jpg' %}
    					<img src= " {{ asset_url }} " alt="testimony" class="img-responsive" />
					{% endimage %}
				</div>
				
			</div>
			
			<div id="sync1" class="owl-carousel">
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia.
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum . At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum .
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.	
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
				<div class="testimony-content container">
					<p>
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
						
					</p>
					<p>
						John Grasin, CEO, IT-Planet
					</p>
					<div class="media-testimony">
						<a href="#" target="blank"><i class="fa fa-twitter twit"></i></a>
						<a href="#" target="blank"><i class="fa fa-linkedin linkedin"></i></a>
						<a href="#" target="blank"><i class="fa fa-facebook fb"></i></a>
					</div>
				</div>
			</div>
		</div>
		
		<div id="company-post">
			<div class="container">
				
				<h1>Companies Who Have Posted Jobs</h1>
				<p>
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.
				</p>
					
				<div id="company-post-list" class="owl-carousel company-post">
				{% for i in 0..2 %}
					<div class="company">
						{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/company-1.png' %}
    					<img src= " {{ asset_url }} " alt="company-post" class="img-responsive" />
						{% endimage %}
					</div>
					<div class="company">
						{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/company-2.png' %}
    					<img src= " {{ asset_url }} " alt="company-post" class="img-responsive" />
						{% endimage %}
					</div>
					<div class="company">
						{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/company-3.png' %}
    					<img src= " {{ asset_url }} " alt="company-post" class="img-responsive" />
						{% endimage %}
					</div>
					<div class="company">
						{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/company-4.png' %}
    					<img src= " {{ asset_url }} " alt="company-post" class="img-responsive" />
						{% endimage %}
					</div>
					<div class="company">
						{% image '@BatisCrowdsourcingBundle/Resources/public/images/upload/company-5.png' %}
    					<img src= " {{ asset_url }} " alt="company-post" class="img-responsive" />
						{% endimage %}
					</div>
				{% endfor %}
					
				</div>
			</div>
		</div>

{% endblock %}